<!DOCTYPE html>
<html>
<head>
    <%- include share/includeHead.html %>
    <%- include share/includeScripts.html %>
</head>
<body>
<%- include share/subHeader.html %>
<div id="wrap">
    <div id="body">
        <div class="container">
            <%- body %>
        </div>
    </div>
</div>
<%- include share/footer.html %>
<%- include share/includeTemplates.html %>
</body>
</html>