<div id="home-view">
    <p class="hello">您好，微信用户</p>
    <div class="control">
        <p>已有九九云帐号？</p>
        <button class="btn btn-warning" id="userBind">绑定帐号</button>
        <p>还没有九九云帐号？</p>
        <button class="btn btn-info" id="goRegister">直接进入</button>
    </div>
</div>

<script src="/js/checkUserBind.js"></script>
