<form id="registerBox" action="/register" method="post">
    <input type="text" name="personName" id="personName" class="" value="" maxlength="32" placeholder="姓名">
    <input type="text" name="unitName" id="unitName" class="" value="" maxlength="32" placeholder="所属单位">
    <div class="mobile-field">
        <div class="col-xs-8">
            <input type="tel" name="personTel" id="personTel" placeholder="手机号码">
            <br/>
            <input type="number" name="authCode" id="authCode" placeholder="验证码">
        </div>
        <div class="col-xs-4">
            <button type="button" id="getAuthCode" class="btn btn-info">获取验证码</button>
        </div>
    </div>
    <button type="submit" class="btn btn-warning">注册</button>
</form>

