<form id="userBindBox" action="/userBind" method="post">
    <div class="username-field">
        <label for="username">
            <i class="fa fa-user "></i>
        </label>
        <input type="text" name="username" id="username" class="" value="" maxlength="32" placeholder="用户名/手机号">
    </div>
    <div class="password-field">
        <label for="password">
            <i class="fa fa-lock "></i>
        </label>
        <input type="password" name="password" id="password" class="" value="" placeholder="请输入密码">
    </div>
    <button type="submit" class="btn">绑定</button>
</form>
