<meta charset="UTF-8">
<title><%- title %></title>

<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />

<link href="//cdn.bootcss.com/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/jqueryui/1.11.4/jquery-ui.theme.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="/styles/primary.css">
<link rel="stylesheet" href="/styles/font-awesome.min.css">
