<div class="top-header">
    <p ><%= title %></p>
</div>
<div id="clickBack" style="cursor:pointer;color:white"  onclick="window.history.go(-1)" class="active navbar-brand">
    <i class="glyphicon glyphicon-chevron-left small"></i>
    返回
</div>
