.btn{
    border-radius: 0;
}
.btn-warning{
    background-color: #FFCC00;
}
.btn-info{
    background-color: #009DD9;
}
.top-header{
    text-align:center;
    height:50px;
    background-color:#009DD9;
    width:100%;
}
.top-header p{
    right:50%;
    padding-top:10px;
    color:white;
    font-size:1.5em;
    letter-spacing: 5px;
}
#clickBack{
    position:absolute;
    top:0;
    left:0;
}
#home-view .hello{
    font-size:2em;
    margin-top: 50px;
    text-align:center;
    font-weight: bold;
}
#home-view .control{
    margin-top: 100px;
}
#home-view .control p{
    margin-top: 20px;
    text-align: center;
}
#home-view .control button{
    margin-top:5px;
    width:80%;
    left:10%;
    height:60px;
    font-size: 2em;
    position:relative;
}
#userBindBox ,#registerBox{
    padding:40px 0 0 0;
    width: 90%;
    color: #6c6c6c;
    background: #fff;
    position: relative;
    margin: 0 auto;
}
#userBindBox button{
    width:100%;
    margin-top: 50px;
    height: 60px;
    font-size: 2em;
    background-color: #FF9900;
    color: white;
}
#userBindBox label{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: darkgray;
    text-align: center;
    position: absolute;
    left: 1px;
    outline: 0;
    font-size:1.5em;
}
#userBindBox .password-field{
    margin-top: 40px;
}
#userBindBox .username-field label{
    top: 40px;
}
#userBindBox .password-field label{
    top: 120px;
}
#userBindBox input,#registerBox input{
    width: 100%;
    font-size: 14px;
    height: 40px;
    padding: 11px 8px 11px 50px;
    border: 1px solid darkgray;
}
#registerBox .mobile-field div{
    padding-left:0;
}
#registerBox input{
    line-height: normal;
    margin-top:15px;
}
#registerBox button[type='submit']{
    width:100%;
    margin-top: 50px;
    height: 60px;
    font-size: 2em;
    background-color: #FF9900;
    color: white;
}
#registerBox button[type='button']{
    width:100%;
    margin-top: 15px;
    height:40px;
    font-size: 1em;
    background-color: #6497FB;
    color: white;
}